@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

* {
    font-family: 'Bricolage Grotesque', sans-serif;
}

/* =========================
   FONT UTILITY HELPERS
========================= */
.bricolage-grotesque {
    font-family: "Bricolage Grotesque", sans-serif;
}

/* font weights */
.font-200 {
    font-weight: 200;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.font-800 {
    font-weight: 800;
}